html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #343e3d;
}

/* BLOD SECTIONS */

.bs h1 {
  margin: 0;
}

.bs p {
  font-size: 8.4vw;
  margin: 0;
}

.bs a {
  text-decoration: none;
  box-shadow: inset 0 0px 0 white, inset 0 -3px 0 #343e3d;
}

.bs {
  width: 100%;
  padding: 60px 0;
  font-size: 4.2vw;
}

.bs ul {
  list-style: none;
  padding: 0;
  font-size: 6vw;
  margin: 0;
  margin-top: 30px;
}

.bs .inner {
  max-width: 800px;
  margin: auto;
  padding: 0 5px;
}

.b-y { background: #ebd200; }

@media (min-width: 800px) {
  .bs {
    font-size: 36px;
  }

  .bs p {
    font-size: 60px;
  }

  .bs ul {
    font-size: 40px;
  }
}

/* nav */

nav.bs {
  padding: 0;
  height: 65px;
}

nav.bs ul {
  margin: 0;
}

nav ul li {
  float: left;
  margin-left: 10px;
  line-height: 60px;
}

/* index animation */

.animated-words {
  display: inline;
}

.animated-words span {
  animation: animateWord 9s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.animated-words span:nth-child(2) {
  animation-delay: 3s;
}

.animated-words span:nth-child(3) {
  animation-delay: 6s;
}

@keyframes animateWord {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0px); }
  30% { opacity: 1; transform: translateY(0px); }
  35% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 0; }
}

/* Typography */

.ts {
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 36px;
}

h3 {
  font-size: 1.125em;
  margin: 0 0 10px;
}

h2 > a {
  position: relative;
  text-decoration: none;
}

code:not([class*="language-"]) {
  background: #eee;
  border-radius: 3px;
  white-space: pre;
  padding: 0px 3px;
}

.uppercase {
  text-transform: uppercase;
}

/* Links
 ========================================================================== */

a {
  color: #343e3d;
  text-decoration: underline;
}

.post a:hover,
.post a:focus,
.post a:active
:not(h2 a):hover,
:not(h2 a):active,
:not(h2 a):focus {
  color: #63615E;
  text-decoration: underline;
}

a.tweet-link {
  box-shadow: none;
}

a.tweet-link span {
  display: inline-block;
  transform: rotate(90deg);
}

a.tweet-link:hover span {
  transition: transform 60s;
  transform: rotate(99999deg);
}

/* Post
 ========================================================================== */

.post {
  margin: 30px auto;
  padding: 0 7px;
  max-width: 800px;
}

.post p,
.post ul {
  font: 18px/1.6 Helvetica, Arial, sans-serif;
}

.post a,
:not(.post h2 a) {
  text-decoration: underline;
}

.date {
  display: block;
  padding-top: 7px;
  font-style: italic;
  color: #5f5f5f;
}

.post img {
  max-width: 100%;
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #eee;
}

/* *************** ARCHIVE *************** */

@media only screen and (max-width: 750px) {
  .archive a:before {
    content: "\A";
    white-space: pre;
  }

  .archive {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* *************** PRISM *************** */

pre.line-numbers {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}

pre {
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}
