---
layout: null
title: 404
description: 404 - the end of the forest
image: https://byabbe.se/assets/default2.png
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=5.0"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>404</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		{% include general-icons.html %}
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
		{% assign menu_title = "<h1>Albin Larsson: 404</h1>" %}
		{% include menu.html menu_title=menu_title %}
		<main>
		<blockquote>
			<p>Always watch where you are going. Otherwise, you may step on a piece of the Forest that was left out by mistake.</p>
			<footer>- Winnie-the-Pooh</footer>
		</blockquote>
		</main>
		{% include network_animation.html %}
		{% include footer.html %}
	</body>
</html>
