---
layout: null
---
<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Albin Larsson</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Albin Larssons personal space on the web. Albin is a Wikimedian that promotes universal access to information through technology." />
  <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0" />

  <link rel="stylesheet" href="css/style.css" />
  {% include general-icons.html %}
</head>

<body>
  {% include menu.html %}
  <div class="b-y bs">
    <div class="inner">
      <h1>I'm Albin <br> a creative technologist <br> who loves<span style="white-space: pre;"> </span><div class="animated-words"><span>culture</span><span>maps</span><span>code</span></div></h1>
    </div>
  </div>
  <div class="bs">
    <div class="inner">
      <p>Say hi! <a href="https://twitter.com/AlbinPCLarsson">twitter</a>, <a href="mailto:albin.post@gmail.com">email</a></p>
    </div>
  </div>
  <div class="b-y bs">
    <div class="inner">
      <p>Some posts on my <a href="/blog/">blog</a>:</p>
      <ul>
        <li><a href="https://byabbe.se/2018/12/19/a-five-minute-hack">A Five Minute Hack</a></li>
        <li><a href="https://byabbe.se/2018/08/14/a-web-app-for-browsing-sign-languages-on-wikidata">Browsing Sign Languages on Wikidata</a></li>
        <li><a href="https://byabbe.se/2019/11/12/observations-on-ai-assisted-crowdsourcing">Observations on AI Assisted Crowdsourcing</a></li>
        <li><a href="https://byabbe.se/2016/11/28/browsing-georeferenced-maps-on-wikimedia-commons">Browsing Rectified Maps on Wikimedia Commons</a></li>
      </ul>
    </div>
  </div>
  {% include footer.html %}
  {% include global-javascript.html %}
</body>

</html>