---
layout: null
---
<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Albin Larsson</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Albin Larssons personal space on the web. Albin is a Wikimedian that promotes universal access to information through technology." />
  <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0" />

  <link rel="stylesheet" href="css/style.css" />
  {% include general-icons.html %}
</head>

<body>
  {% assign menu_title = "<h1>Albin Larsson</h1>" %}
  {% include menu.html menu_title=menu_title %}

  <main>
    <h2 lang="sv">Hej!</h2>

    <p>I'm Albin, a Wikimedian and creative coder hacking on climate and cultural heritage data. You can reach me on <a
        href="https://twitter.com/AlbinPCLarsson">Twitter</a>, <a href="https://t.me/Abbe98">Telegram</a>, or by <a href="mailto:albin.post@gmail.com">email</a>.</p>


    <h2>Things I do right now</h2>
    <!--<p>I'm an award winning coder and entrepreneur, a former teenage government employee... My past however is not as interesting as what I'm up to!</p>-->
    <p>I talk and edit Wikidata on <a href="https://www.youtube.com/channel/UCa5oYsCabGo7XwwKGqo7Qcw">Wikipedia Weekly</a>, I write about code and metadata on my <a
        href="/blog/">blog</a><!--, I talk at <a href="#">events</a>-->, I contribute to <a href="https://github.com/abbe98">open source</a>, and I'm
      building something!</p>

    <h2>Some posts from my blog</h2>
    <ul>
      <li><a href="https://byabbe.se/2019/11/12/observations-on-ai-assisted-crowdsourcing">Observations on AI Assisted
        Crowdsourcing</a></li>
      <li><a href="https://byabbe.se/2018/12/19/a-five-minute-hack">A Five Minute Hack</a></li>
      <li><a href="https://byabbe.se/2018/08/14/a-web-app-for-browsing-sign-languages-on-wikidata">Browsing Sign
          Languages on Wikidata</a></li>
      <li><a href="https://byabbe.se/2016/11/28/browsing-georeferenced-maps-on-wikimedia-commons">Browsing Rectified
          Maps on Wikimedia Commons</a></li>
    </ul>
  </main>

  {% include footer.html %}
  {% include network_animation.html %}
  {% include global-javascript.html %}
</body>

</html>
