---
layout: null
title: Projects
description: Albin Larssons personal projects on the web. Albin is a Wikimedian that promotes universal access to information through technology.
image: https://byabbe.se/assets/default2.png
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0" />
	<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew" />
	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ page.image }}" />
	<meta property="og:description" content="{{ page.description }}" />

	<link rel="alternate" type="application/rss+xml" href="/blog/atom.xml" title="Albin Larssons Blog" />
	{% include general-icons.html %}
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	{% include menu.html %}
	<div class="container">
		<div class="post">
			<h1 style="font-size: 46px;">Projects</h1>
			<p>A slightly random list of "not too technical" projects.</p>
			<div class="projects">
				<div>
					<div class="b-y">
						<img src="/assets/project-images/map-search.png" />
						<div class="inner">
							<h2>Map Search</h2>
							<p>Map Search is an application to search and browse rectified map from Wikimedia Commons.
							</p>
							<div>
								<a href="https://tools.wmflabs.org/map-search/">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/soch-sparql.png" />
						<div class="inner">
							<h2>Thor</h2>
							<p>Thor is a powerful SPARQL and visualization application for K-samsök.</p>
							<div>
								<a href="https://byabbe.se/thor/">Website</a>
								<a href="https://byabbe.se/2020/01/19/a-sparql-editor-for-soch">Blog post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/on-this-day.png" />
						<div class="inner">
							<h2>On This Day API</h2>
							<p>On This Day is an API built on top of Wikipedia.</p>
							<div>
								<a href="https://byabbe.se/on-this-day/">Website</a>
								<a href="https://byabbe.se/2018/09/26/i-created-another-on-this-day-api">Blog post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/poit-1645.png" />
						<div class="inner">
							<h2>PoIT 1645</h2>
							<p>PoIT 1645 is a visualization of how news got to Stockholm from accross Europe in 1645.
							</p>
							<div>
								<a href="https://www.kartkod.se/labs/poit-1645/">Website</a>
								<a href="https://figshare.com/articles/PoIT_1645_-_Locations/11703918">Dataset</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/soch-data-quality.png" />
						<div class="inner">
							<h2>SOCH Data Quality</h2>
							<p>SOCH Data Quality Dashboard is a data quality dashboard for Swedish cultural heritage
								institutions.</p>
							<div>
								<a
									href="https://byabbe.se/2019/10/30/an-actionable-approach-to-data-quality-for-cultural-heritage-institutions">Blog
									post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/biocaching.png" />
						<div class="inner">
							<h2>Biocaching</h2>
							<p>Biocaching were an adward winning biodiversity and crowdsourcing project.</p>
							<div>
								<a href="https://web.archive.org/web/20171017091814/https://biocaching.com/">Archived
									Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/fluffy-goggles.png" />
						<div class="inner">
							<h2>Fluffy Goggles</h2>
							<p>Fluffy Goggles is a tool for visual accessibility testing of web maps styles.</p>
							<div>
								<a href="https://www.kartkod.se/labs/fluffy-goggles/">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/wikidata-sign-languages.png" />
						<div class="inner">
							<h2>Wikidata Sign Languages</h2>
							<p>An web application to learn sign languages based on Wikidata.</p>
							<div>
								<a href="https://tools.wmflabs.org/sign-language-browser/#/">Website</a>
								<a
									href="https://byabbe.se/2018/08/14/a-web-app-for-browsing-sign-languages-on-wikidata">Blog
									Post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/office-workouts.png" />
						<div class="inner">
							<h2>Office Workouts</h2>
							<p>A web application to remind you to take breaks and exercise at your desk.</p>
							<div>
								<a href="https://byabbe.se/office-workouts/">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/platsr.png" />
						<div class="inner">
							<h2>Platsr Odyssey</h2>
							<p>Platsr Odyssey were an application to auto generate storytelling apps from
								Platsr.se content.
							</p>
							<div>
								<a href="https://byabbe.se/platsr2odyssey-py/">Demo</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/kyrksok-vr.png" />
						<div class="inner">
							<h2>Kyrksök VR</h2>
							<p>Kyrksök.se:s VR viewer allows users to experiance 360 degree photos in VR from
								their browser.
							</p>
							<div>
								<a href="https://kyrksok.se/vr.html?q=10713923">Demo</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/kringla-visualized.png" />
						<div class="inner">
							<h2>Kringla Visualized</h2>
							<p>Visualization of all the items in SOCH based on Deutsche Digitale Bibliothek visualized.
							</p>
							<div>
								<a
									href="https://riksantikvarieambetet.github.io/Kringla-Visualized/index_en.html">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/smk-vikus-viewer.png" />
						<div class="inner">
							<h2>SMK Vikus Viewer</h2>
							<p>SMK Vikus Viewer is a Vikus Viewer based visualization of oil paintings from Statens
								Museum for Kunst.
							</p>
							<div>
								<a href="https://byabbe.se/smk-vikus-viewer/">Website</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include global-javascript.html %}
</body>

</html>