---
layout: null
title: Projects
description: Albin Larssons personal projects on the web. Albin is a Wikimedian that promotes universal access to
information through technology.
image: https://byabbe.se/assets/default2.png
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0" />
	<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew" />
	<title>Projects</title>

	<meta name="description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ page.image }}" />
	<meta property="og:description" content="{{ page.description }}" />

	<link rel="alternate" type="application/rss+xml" href="/blog/atom.xml" title="Albin Larssons Blog" />
	{% include general-icons.html %}
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	{% include menu.html %}
	<div class="container">
		<div class="post">
			<h1 style="font-size: 46px;">Projects</h1>
			<p>A slightly random list of "not too technical" projects.</p>
			<div class="projects">
				<div>
					<div class="b-y">
						<img src="/assets/project-images/map-search.png" />
						<div class="inner">
							<h2>Map Search</h2>
							<p>Map Search is an application to search and browse rectified map from Wikimedia Commons.
							</p>
							<div>
								<a href="https://tools.wmflabs.org/map-search/">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/soch-sparql.png" />
						<div class="inner">
							<h2>Thor</h2>
							<p>Thor is a powerful SPARQL and visualization application for K-samsök.</p>
							<div>
								<a href="https://byabbe.se/thor/">Website</a>
								<a href="https://byabbe.se/2020/01/19/a-sparql-editor-for-soch">Blog post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/on-this-day.png" />
						<div class="inner">
							<h2>On This Day API</h2>
							<p>On This Day is an API built on top of Wikipedia.</p>
							<div>
								<a href="https://byabbe.se/on-this-day/">Website</a>
								<a href="https://byabbe.se/2018/09/26/i-created-another-on-this-day-api">Blog post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/poit-1645.png" />
						<div class="inner">
							<h2>PoIT 1645</h2>
							<p>PoIT 1645 is a visualization of how news got to Stockholm from accross Europe in 1645.
							</p>
							<div>
								<a href="https://www.kartkod.se/labs/poit-1645/">Website</a>
								<a href="https://figshare.com/articles/PoIT_1645_-_Locations/11703918">Dataset</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="http://placekitten.com/g/300/150" />
						<div class="inner">
							<h2>SOCH Data Quality</h2>
							<p>SOCH Data Quality Dashboard is a data quality dashboard for Swedish cultural heritage
								institutions.</p>
							<a href="#">Blog post</a>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/biocaching.png" />
						<div class="inner">
							<h2>Biocaching</h2>
							<p>Biocaching were an adward winning biodiversity and crowdsourcing project.</p>
							<a href="#">Archived Website</a>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/fluffy-goggles.png" />
						<div class="inner">
							<h2>Fluffy Goggles</h2>
							<p>Fluffy Goggles is a tool for visual accessibility testing of web maps styles.</p>
							<div>
								<a href="https://www.kartkod.se/labs/fluffy-goggles/">Website</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="http://placekitten.com/g/300/150" />
						<div class="inner">
							<h2>Wikidata Sign Languages</h2>
							<p>An web application to learn sign languages based on Wikidata.</p>
							<div>
								<a href="#">Website</a>
								<a href="#">Blog Post</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="/assets/project-images/office-workouts.png" />
						<div class="inner">
							<h2>Office Workouts</h2>
							<p>A web application to remind you to take breaks and exercise at your desk.</p>
							<a href="https://byabbe.se/office-workouts/">Website</a>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="/assets/project-images/platsr.png" />
						<div class="inner">
							<h2>Platsr Odyssey</h2>
							<p>Platsr Odyssey were an application to auto generate storytelling apps from
								Platsr.se content.
							</p>
							<a href="#">Demo</a>
						</div>
					</div>
				</div>
				<div>
					<div>
						<img src="http://placekitten.com/g/300/150" />
						<div class="inner">
							<h2>Kyrksök VR</h2>
							<p>Kyrksök.se:s VR viewer allows users to experiance 360 degree photos in VR from
								their browser.
							</p>
							<a href="#">Demo</a>
						</div>
					</div>
				</div>
				<div>
					<div class="b-y">
						<img src="http://placekitten.com/g/300/150" />
						<div class="inner">
							<h2>Kringla Visualized</h2>
							<p>
							</p>
							<div>
								<a href="#">Website</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.projects {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
		}

		.projects>div {
			box-sizing: border-box;
			width: 100%;
			padding: 5px;
		}

		.projects>div>div {
			border: 2px solid #343e3d;
		}

		@media (min-width: 650px) {
			.projects>div {
				width: 50%;
			}
		}

		.projects img {
			width: 100%;
			height: 200px;
		}

		.projects .inner {
			padding: 5px;
			height: 220px;
			position: relative;
		}

		.inner div {
			display: flex;
			justify-content: space-around;
			width: 100%;
			position: absolute;
			bottom: 26px;
		}

		.inner div a {
			margin: 0;
			color: inherit;
			text-transform: none;
			display: flex;
			padding: 5px 30px;
			font-size: 14px;
			line-height: 38px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			border: 2px solid #343e3d;
		}

		.inner div a:hover,
		.inner div a:focus {
			text-decoration: none;
			color: #343e3d;
		}

		.projects p {
			margin-top: 5px;
		}
	</style>
	{% include footer.html %}
	{% include global-javascript.html %}
</body>

</html>