---
layout: null
title: Blog
description: Albin Larssons blog about web development, open data, web accessibility and maps.
image: https://byabbe.se/assets/default2.png
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=5.0"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="/blog/atom.xml" title="Albin Larssons Blog"/>
		{% include general-icons.html %}
		<link rel="stylesheet" href="/css/style.css"/>
		{% if paginator.next_page %}		<link rel="next" href="{{ site.baseurl }}page{{paginator.next_page}}"/>
		{% endif %}
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}		<link rel="prev" href="{{ site.baseurl }}"/>
			{% else %}		<link rel="prev" href="{{ site.baseurl }}page{{paginator.previous_page}}"/>
			{% endif %}
		{% endif %}
	</head>
	<body>
{% include menu.html %}
		<div class="container">
			{% for post in paginator.posts %}
			<article class="post">
				{% if post.type == 'link' %}
				<h2 class="ts">
					<a href="{{ post.external_url }}" title="{{ post.target }}">{{ post.title }} 🔗</a>
				</h2>
				{% else %}
				<h2 class="ts">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				{% endif %}
				{% include date.html date=post.date %}
				{{ post.content }}
			</article>
			{% endfor %}
		</div>
		<div class="ts bs b-y">
			<p>
			{% if paginator.next_page %}
				<a href="/blog/page{{paginator.next_page}}">Older</a>
			{% endif %}
			{% if paginator.previous_page %}
				{% if paginator.page == 2 %}
					<a href="/blog">Newer</a>
				{% else %}
					<a href="/blog/page{{paginator.previous_page}}">Newer</a>
				{% endif %}
			{% endif %}
			</p>
		</div>
		{% include footer.html %}

		<script src="/js/prism.js"></script>
		<link rel="stylesheet" href="/css/prism.css"/>
{% include global-javascript.html %}
	</body>
</html>