---
layout: null
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>
		<meta property="og:title" content="{{ page.title }}"/>
		<meta name="twitter:creator" content="@AlbinPCLarsson">

		{% if page.layout == 'post' %}
		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:description" content="{{ page.description }}"/>
		{% if page.image %}<meta property="og:image" content="{{ page.image }}"/>{% endif %}
		<meta property="og:description" content="{{ page.description }}"/>
		<meta property="og:url" content="{{ page.url }}"/>
		<meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
		<meta name="author" content="Albin Larsson"/>
		<meta property="og:type" content="article"/>
		{% endif %}

		<link rel="alternate" type="application/rss+xml" href="/blog/atom.xml" title="Albin Larssons Blog"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
		{% assign menu_title = '<h2 class="h1">Albin Larsson: Blog</h2>' %}
		{% include menu.html menu_title=menu_title %}
		<article class="post">
			<h1>{{ page.title }}</h1>
			{% include date.html date=page.date %}

			{% if page.type != 'link' %}
			{{ content }}
			{% else %}
			<a href="{{ page.external_url }}">Read this post on {{ page.target }}.</a>
			{% endif %}
		</article>

		{% if page.type != 'link' %}
			<div class="print-hidden post">
				{% comment %} todo this will break if the posts does not share any tags {% endcomment %}
				<p>Related posts</p>
				<ul>
				{% assign counter = 0 %}
				{% for tag in page.tags %}
					{% for post in site.posts %}
						{% if post.tags contains tag and post.id != page.id and counter < 3 %}
							{% assign counter = counter | plus:1 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% include footer.html %}

		<script src="/js/prism.js"></script>
		<link rel="stylesheet" href="/css/prism.css"/>
{% include global-javascript.html %}
	</body>
</html>
